<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Learning Django</title>
  </head>
  <body>
    {% if error_text %}
    <p>
      <strong> {{error_text}} </strong>
    </p>
    {% endif %}
    <h3>{{question.question_text}}</h3>
    <form action="{% url 'polls:vote' question.id %}" method="POST">
      {% csrf_token %} {% for choice in question.choice_set.all %}
      <input
        type="radio"
        name="choice"
        id="{{forloop.counter}}"
        value="{{choice.id}}"
      />
      <label for="{{forloop.counter}}">{{choice.choice_text}}</label>
      <br />
      {% endfor %}
      <br />
      <input type="submit" value="vote" />
    </form>
  </body>
</html>
